*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    
}


header{
	position: relative;
	width: 100%;
	height: 200px;
		
}

#logo{
	position: absolute;
	width: 14%;
	line-height: 15px;
	top: 30px;
	left: 40px;
}
#logo img{
	border-radius:100%;
}

#logocentro{
	position: relative;
	left: 435px;
	width: 35%;
	line-height: 15px;
}

#logocentro img{
	border-radius: 20%
}

.redes{
	width: 4%;
	height: 42px;
	position: absolute;
	top: 30px;
}

.redes img{
	border-radius: 100%;
	
}

#icono1{
	right: 179px;
}

#icono2{
	right: 126px;
}

#icono3{
	right: 72px;
}

nav{
	position: relative;
	width: 100%;
	height: 240px;
	color: white;

}

.botones{
	float: left;
	width: 196%;
	margin: auto;
	height: 48px;
}

#top{
	position: relative;
	margin: auto;
	width: 100%;
	height: 235px;
}

#top ul{
	height: 235px;

}



#top ul li{
	float: left;
	width: 32%;
	height: 232px;
	margin-right: 10px;
	text-align: center;
	color: white;
}

#top ul li img{
	height: 100px;
}

#top ul li p{
	font-size: 15px;
	
}

section{
	position: relative;
	width: 100%;
	height: 483px;
	color: white;
}

aside{
	width: 36%;
	height: 481px;
	position: absolute;
	margin: auto;
	
}

aside h1{
	padding: 3px;
	font-size: 33px;
	text-align: center;
}
aside img{
	border-radius: 10px;
	ima
}

article{
	position: absolute;
	left: 36%;
	width: 801px;
	height: 482px;
	margin: auto;
	
}

article video{
	width: 696x;
	height: 443px;
}

footer{
	position: relative;
	margin:  auto;
	width: 100%;
	height: 85px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 13px;
}
#chat{
	position: fixed;
	width: 320px;
	height: 48px;
	bottom: 0;
	right: 5px;
	z-index: 1;
	color: black;
	text-align: center;
	line-height: 48px;
	font-family: 'Lora', serif;
	border-radius: 25px 25px 0 0;
	cursor: pointer;
	background: #bb7a00;
	font-size: 25px;
}

#chat img{
	border-radius: 41%;
	margin: -4px;
	margin-left:-6px;
}
